---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Awards from "../components/home/awards.astro";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="drssj">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-6 px-7 md:mt-10 lg:mt-14 xl:px-0"
  >
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-3/4">
        <p class="mb-2 text-base text-neutral-600 dark:text-neutral-400">
          Hi, I am
        </p>
        <h1
          class="mb-4 text-3xl font-bold leading-tight md:text-4xl lg:text-5xl dark:text-white"  
        >
          Dr. Saad Javaid.
        </h1>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          I am an Assistant Professor at College of Aeronautical Engineering (CAE) at NUST, Pakistan.   
          <span class="hidden lg:block mt-4">
              I am currently the Chief Instructor (Deputy HoD) for the Department of Aerospace Engineering. I help manage all affairs of the department comprising over 25 Faculty and 200 Students. 
         </span> 
         <p class="mb-1 font-semibold text-neutral-800 dark:text-neutral-200">
          A few key highlights about me and my career:
        </p>
        <ul
          class="py-2 space-y-[3px] text-base list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
          <li>PhD in Materials Science & Engineering (Fulbright Scholar)</li>
          <li>USAF Academy Young Alumni Award Winner 2024</li>
          <li>4 Degrees including PhD, MBA and 2 MS from Georgia Tech</li>
          <li>President's Gold Medal (Pakistan)</li>
          <li>USAF Academy Distinguished Graduate & Airmanship Instructor Pilot</li>
        </ul>
         <p class="mb-1 font-semibold text-neutral-800 dark:text-neutral-200">
          Research and Teaching interests include:
        </p>
        <ul
          class="py-2 space-y-[3px] text-base list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
          <li>Aerospace Materials and Structures</li>
          <li>Computational Structural Analysis</li>
          <li>Use of AI/ML in Teaching</li>
        </ul>
      </div>
      <div
        class="relative justify-end hidden w-full mt-10 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
      >
        <div class="relative z-50 w-full">
          <div
            class="absolute bottom-0 z-40 w-16 h-16 -translate-x-6 -translate-y-1/2 lg:top-auto top-0 lg:-translate-y-[160px] rounded-full"
          >
            <span
              class="relative z-20 flex items-center justify-center w-full h-full text-2xl border-8 border-white rounded-full dark:border-neutral-950 bg-neutral-100 dark:bg-neutral-900"
            >
              <span
                class="flex items-center justify-center w-full h-full bg-white border border-dashed rounded-full dark:bg-neutral-950 border-neutral-300 dark:border-neutral-700"
                >ðŸ‘‹</span
              >
            </span>
          </div>
          <div class="relative z-30 px-5">
            <img
              src="/assets/images/Pic2.png"
              loading="eager"
              decoding="auto"
              class="relative z-30 w-full md:max-w-md mx-auto dark:-translate-y-0.5"
            />
            <!-- Decorative Frame -->
          <div class="absolute bottom-0 right-0 z-20 w-full h-full lg:h-[250px] translate-x-0 -translate-y-px border border-dashed rounded-2xl bg-gradient-to-r dark:from-neutral-950 dark:via-black dark:to-neutral-950 from-white via-neutral-50 to-white border-neutral-300 dark:border-neutral-700"></div>
        </div>

        <!-- Buttons Container -->
        <div class="w-full mt-6">
          <div class="flex flex-wrap justify-center gap-2">
            <Button text="Linkedin" link="www.linkedin.com/in/saadjavaid" />
            <Button text="Google Scholar" link="" />
            <Button text="ð•" link="" />
          </div>
        </div>
      </div>
    </div>
  </div>

 <Separator text="Awards and Achievements" />
  <Awards />

  <Separator text="Current Projects" />
  <Projects />

  <Separator text="Latest Posts" />
  <Writings />
</Layout>