---
const { text } = Astro.props;
---

<div class="relative my-20">
  <div class="relative w-full pl-5 overflow-x-hidden md:pl-0">
    <div
      class="absolute w-full h-1 bg-gradient-to-r from-transparent via-neutral-200/80 to-transparent dark:via-neutral-800/80"
    >
    </div>
    <div
      class="w-full h-1 border-t border-dashed border-neutral-400/60 dark:border-neutral-600/70"
    >
    </div>
  </div>
  <div
    class="absolute flex items-center justify-center w-auto h-auto px-4 py-2 uppercase tracking-widest space-x-1 text-xs md:-translate-x-1/2 -translate-y-1/2 border rounded-full bg-white dark:bg-neutral-900 text-neutral-600 dark:text-neutral-300 left-0 md:ml-0 ml-5 md:left-1/2 border-neutral-200/80 dark:border-neutral-700 shadow-md"
  >
    <p class="leading-none font-medium">{text}</p>
    <div
      class="flex items-center justify-center w-6 h-6 translate-x-1 border rounded-full border-neutral-200/80 dark:border-neutral-700 bg-white/50 dark:bg-neutral-800/50"
    >
      <svg
        class="w-4 h-4"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75"></path></svg
      >
    </div>
  </div>
</div>